{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="padding-bottom: 20px;">M2M Connect</h1>
                <p>Please Login/Register using the links above!</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div style="text-align: right;" class="row">
            <div class="col-sm-12">
                <img src="https://www.w3.org/Icons/valid-html401">
            </div>
        </div>
    </div>
{% endblock %}
